body {
    background-color: rgb(172, 118, 1);
    overflow: hidden;
}


.selections {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 0.15s
}

.selection:hover {
    transform: scale(1.1);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    font-family: Poppins;
    font-size: 40px;
}

.result-score {
    margin-left: 1rem;
}

.result-selection {
    opacity: .3;
    font-size: 30px;
}

.result-selection.winner {
    opacity: 1;
    font-size: 40px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(172, 118, 1);
    height: 90px;
    justify-content: center;
}

@media (max-width: 600px) {
    .results {
        font-size: 16px;
    }
}